@import "tailwindcss";

@theme {
  --font-sans: "Google Sans Flex", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "PT Mono", ui-monospace, monospace;
}

#root {
  width: 100%;
  min-height: 100svh;
}

body {
  margin: 0;
  font-family: "Google Sans Flex", ui-sans-serif, system-ui, sans-serif;
  background: #fff;
  color: #111827;
}
